* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightsteelblue;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

table a {
  padding: 10px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
}

#img1 {
  background-size: contain;
}

.para1 {
  padding-top: 6px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bold;
}

form {
  padding-top: 20px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

button {
  padding: 7px;
}
#secondtable {
  width: 1200px;
  border: 1px solid;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#secondtable,
thead,
tr,
th {
  padding: 15px;
}
